<div class="container pt-3">
<div>
    <h2>About Us</h2>
    <p>We provide interesting photos. Every Image has it's own emotions. We as a company not only focus about the profits but also check for the emotions. We always try our best to provide images with feelings. According to us, we believe every image has it's own values, emotions, and feelings. In our gallery, we will provide you all the beautiful, interesting, and inspirational images.</p>
    <p>We have a image gallery, where you can find the collection of images. We provide all collection of images.</p>
</div>
<h3>Meet our Team</h3>
<div class="container">
    <div class="row">
        <div class="col-md-4 justify-content-center d-flex flex-column align-items-center p-3">
            <img class="keymembers" src="../../assets/images/personM.png" />
            <div>Mr. K</div>
            <div>Cheif Executive Officer</div>
        </div>
        <div class="col-md-4 justify-content-center d-flex flex-column align-items-center p-3">
            <img class="keymembers" src="../../assets/images/personw.jpg" />
            <div>Ms. S</div>
            <div>Co-Founder</div>
        </div>
        <div class="col-md-4 justify-content-center d-flex flex-column align-items-center p-3">
            <img class="keymembers" src="../../assets/images/persong.jpg" />
            <div>Ms. C</div>
            <div>Co-Founder</div>
        </div>
    </div>
</div>
</div>